<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    <!-- navbar -->
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
      <div class="row">
         <div class="col-md-10 col-12 mx-auto">
           <div class="main_content">
             <form class="Temp_form">
                <input type="text" id="cityname" placeholder="Enter  your  city  name" autocomplete="off">
                <input type="submit" value="search" id="submitbtn">
             </form>
           </div>
         
         <div class="tempinformation">
            <div class="top_layer">
                 <p id="day">Saturday</p>
                 <p id="today_date">21 oct</p>
            </div>
            <div class="main_layer">
                <p id="city_name">Get Output Here</p>
                <div class="middle_layer data_hide">
                   <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                   <p id="temp_status"><i class="fa-solid fa-cloud"></i> </p>
                </div>
            </div>
         </div>
        </div>
      </div>
   </div>
    
  <!-- footer part-->
  {{>footer}}
  

  <script src="js/main.js"></script>
</body>
</html>